<h1 class="animated fadeIn fast">Sobre Comic App</h1>

<hr />

<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis magnam eligendi necessitatibus, temporibus accusantium reiciendis quos odit ipsam sint, exercitationem, laboriosam ab fugiat explicabo perferendis nesciunt saepe. Excepturi, sit error.

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur repellat numquam deserunt dolorum blanditiis eius quas alias amet, ea, officiis perferendis. Nulla nisi, provident dolorem consequatur quaerat maxime illo eaque.
</p>


